@import './shared/Alerts.less';
@import './shared/Typography.less';
@import './shared/Views.less';

.paper {
    max-width: 1200px;
    margin: 10px auto 20px auto;
    padding: 20px;
    overflow: hidden;
}

.wide {
    max-width: 100%;
    width: 100%;
}

.block {
    display: block;
}

.content-wrapper {
    margin: 40px 16px;
}
